.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px;
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.primary {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;

    &:hover {
        background-color: #e0dede;
    }
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInvert {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    &.size_20 {
        width: 20px;
        height: 20px;
    }

    &.size_30 {
        width: 30px;
        height: 30px;
    }

    &.size_40 {
        width: 40px;
        height: 40px;
    }

    &.size_50 {
        width: 50px;
        height: 50px;
    }
}
