.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.25s ease;
}

.collapsed {
    width: var(--sidebar-collapsed-width);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.toggler {
    margin: 0 auto;
    display: block;
}
