.theme.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverter-primary-color: #041c65;
    --inverter-secondary-color: #0452ff;
}
